@import "tailwindcss";
@theme {
  --color-primary: #f8f5fc;
  --color-secondary:#125170;
  --color-accent: #125170;
  --color-accent: #111827;
  --color-blue: #2980ba;
}

/* Customize the entire scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

/* Customize the scrollbar track (background) */
::-webkit-scrollbar-track {
  background-color: transparent; /* Tailwind color equivalent: bg-gray-100 */
}

/* Customize the scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #416fcdfe; /* Tailwind color equivalent: bg-gray-500 */
  border-radius: 4px; /* Add rounded corners */
}